.page-header{
  margin: 40px auto 60px auto;
}
.results {
  min-height: 400px;
}

.player-two-buttons {
  display: none;
}
.game-board {
  display: none;
}
.start-game-button {
  margin: 20px;
  background-color: #e2e2e2;
}
